* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.nav-shadow {
  box-shadow: 0px 0px 5px rgba(142, 137, 137, 0.485);
}

.logoSection b {
  margin-left: 25px;
  font-size: 38px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(50, 93, 160);
}
.logoSection span {
  font-size: 38px;
  color: rgba(0, 0, 0, 0.448);
}
.toogle_items {
  font-size: 20px;
  font-weight: 500;
}
.toogle_items ul {
  margin-right: 25px;
}
.toogle_items li {
  padding: 0 10px;
}

.carousel-item img {
  aspect-ratio: 3.1;
}

.cards{
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
.card{
  border: 0cqb!important;
}
.card .img1 img{
  /* outline: 2px solid black; */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0)) blur(1.5px);
}
.card .img1 i{
  display: inline-block;
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));

padding: 1px;
font-size: 50px;
position: absolute;
}

.card .img1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.collapse ul li a:hover{
  filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
  color: #ffffff!important;
  cursor: pointer;
}

